<!-- **************************************************************************
Header for the index.html page.
*************************************************************************** -->
{% load staticfiles %}

<div class="container">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/cf_utils.js" %}"></script>

    <div class="above-header-spacer"></div>
    <div class="logo-container" align="center">
            <img src="{% static "img/logo-white-transparent.png" %}">
    </div>
    <br/><br/><br/>

    <div id="container" style="position:relative;">
    </div>

</div>