{% extends "base.html" %}
{% load staticfiles %}

{% block title %}crazyfish :: all your events in one place{% endblock %}

{% block head_style_and_js %}
    {% include "index_head_includes.html" %}
{% endblock %}

{% block header_content %}
    {% include "index_header.html" %}
{% endblock %}

{% block body_content %}
    {% include "index_body_content.html" %}
{% endblock %}

{% block body_js %}
    {% include "index_body_includes.html" %}
{% endblock %}


<!-- BELOW: OLD TEMPLATE. SHOULD BE DELETED WHEN THINGS WORK
<html>
<head>
    <title>crazyfish: all your events in one place</title>

    <link href="{% static "css/crazyfish.css" %}" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    <script>
    $(function() {
      $( "#datepicker" ).datepicker();
    });
    </script>

</head>

<body>

<!-- LOGO - ->
<div class="section-hero">
    <img src="{% static "img/logo-white-transparent.png" %}" alt="logo"/>
</div>

<!-- SEARCH ELEMENT - ->
<div class="main-search">
    <form action="search" method="get">
        <p>

            Show me

            <select name="category">
                <option value="all">all</option>
            {% for category_name in category_list %}
                <option value="{{ category_name }}">{{ category_name }}</option>
            {% endfor %}
            </select>

	  events on

          <input type="text" name="date" id="datepicker">

	  in

	  <input list="locations" name="location">
	  <datalist id="locations">
            {% for location in location_list %}
              <option value="{{ location }}">
            {% endfor %}
	  </datalist>

	  </p>

	  <input type="submit" value="Let's go">
      </form>

    <!-- ERROR HANDLING IF USER DOES NOT INPUT VALID DATA - ->
    {% if errors %}
      <ul>
	Please correct the following error{{ errors|pluralize }}:
	</br>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
      </ul>
    {% endif %}
    <!-- END ERROR HANDLING - ->
      
    </div>
    <!-- END SEARCH - ->

  </body>

</html>

-->