<!-- **************************************************************************
Main html template for the index.html page. This template renders the event
selection menu.
*************************************************************************** -->
{% load staticfiles %}

<div class="main-search dropdown">

	<form class="form-inline" role="form" action="search" method="get">
        <span class="form-text" id="firstWord">Show me events on</span>

		<span class="form-text" id='dateBlank'>
			<font color="#11b1d3" face="helvetica, arial" size="5px">_ _ _ _ _ _ _ _ _ _ _ _ _</font>   
		</span>
        
        <span class="form-group" id="DPLoc">
			<label id='dateLabelAndInput'>  
				<input type="text" name="date" class="form-control datepicker" data-toggle="dropdown" id="datePicker" placeholder="date" readonly>  
            </label>    
            <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
        </span>

        <span class="form-text"> in </span>

		<span class="form-text" id='locationBlank'> 
			<font color="#11b1d3" face="helvetica, arial" size="5px">_ _ _ _ _ _ _ _ _ _ _ _ _</font>
		</span>
		
        <span class="form-group">
			<label class="dropdown-toggle" data-toggle="dropdown" id='locationLabelAndInput'>
				<input  type="text" name="location" class="form-control" value="Palo Alto, CA" readonly>
            </label>
            <ul class="dropdown-menu" role="menu">
                <li>We're only available in Palo Alto, CA for now!
            </ul>
        </span>
	
		<div class="button-container" align="center">
			<input type="submit" id="go" class="btn btn-search" value="LET'S GO">
		</div>
    </form>   
 </div>


