<!DOCTYPE HTML>
<html lang="en">
        <head>
                <title>Sample Site</title>
                <link rel="stylesheet" href="bootstrap.css"/>
                <link rel="stylesheet" href="main.css"/>
                <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        </head>
        <body>
                <div>
                        <div class="central">
                                {% block central %}
                                This is a test site...
                                {% block ignore %}
                                leave me alone
                                {% endblock %}
                                {% endblock %}     
                        </div>
                </div>
        </body>
</html>
